* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  background: #ffffff;
  line-height: 1.5;
  color: #686868;
  font-weight: 300;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 15px;
  color: #000001;
  margin-top: 0;
  line-height: 1.5;
  font-family: "Advent Pro", sans-serif;
}

p {
  margin-bottom: 15px;
  color: #686868;
}

/* Navbar */

.navbar-nav li {
  padding: 10px 10px;
}

.navbar-nav li a {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff !important;
  display: inline-block;
  position: relative;
}

.navbar-nav li a:hover {
  color: #ffffff !important;
}

.navbar-nav .nav-link.active {
  color: #ffffff !important;
}

.header.sticky li a {
  color: white !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-nav .nav-link::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ffffff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link.active::after {
  width: 100%;
  left: 0;
}

ul.dropdown-menu {
  padding: 0;
}

.dropdown-menu li:hover,
.dropdown-menu li:hover a {
  background: white;
  color: #000001 !important;
}


.navbar-nav li a {
  font-size: 1rem;
  font-weight: 400;
  color: #000001;
}

.offcanvas {
  background-color: #030e14;
}

.offcanvas .navbar-nav .dropdown-menu {
  margin-top: 10px;
  border-radius: 8px;
}

.offcanvas .navbar-nav .dropdown-menu li,
.offcanvas .navbar-nav li {
  padding: 10px 0;
}

.offcanvas .navbar-nav .dropdown-menu li:hover,
.offcanvas .navbar-nav .dropdown-menu li:hover a {
  border-radius: 8px;
}

.dropdown-menu {
  background-color: #030e14;
  border-radius: 0px;
}

.dropdown-item {
  background: none !important;
}

.dropdown-menu li {
  padding: 6px 10px;
}

/* section */

.section-title {
  text-align: center;
  margin-bottom: 30px;
}

.section-title span {
  color: #D3ED05;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
}

.section-title h2,
.section-title h3 {
  font-size: 58px;
  line-height: 82px;
  letter-spacing: -2.22917px;
  color: white;
  text-transform: uppercase;
}

.section-title p {
  color: #FFFFFF;
  font-size: 20.0625px;
  opacity: 0.6;
}

/* header */
.header {
  z-index: 999;
  background: transparent;
  position: absolute;
  width: 100%;
  padding: 15px 0;
  transition: all .6s;
}

header.sticky {
  padding: 0px 0px;
  position: fixed;
  width: 100%;
  z-index: 999;
  background: #030E14;
}

header.sticky #navbarNav {
  border-bottom: 0px !important;
}

header.sticky img {
  transition: all 0.5s ease-in-out;
}

/* top banner */
.top-banner {
  background: url("/assets/images/top-banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 165px 0;
}

.top-banner .center-col {
  text-align: center;
}

.top-banner .center-col h1 {
  letter-spacing: -1.94091px;
  font-weight: 500;
  font-size: 68.9193px;
  line-height: 65px;
  color: #F5F5F5;
}

.top-banner .center-col p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 0;
}

/* end */

/* form */
/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control {
  resize: none;
  display: block;
  width: 100%;
  padding: 16px 15px;
  font-size: 1rem;
  border-radius: 8px;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #1e1e1e42;
  color: #ffffff !important;
  background-color: transparent;
}

.form-control:focus {
  background-color: transparent;
  border-color: #D3ED05;
  box-shadow: none !important;
  outline: none !important;
}

::placeholder {
  color: white !important;
}

::-webkit-input-placeholder {
  color: white !important;
}

:-ms-input-placeholder {
  color: white !important;
}

/* end */

/* Button */

.btn-theme {
  border: 2px solid #ffffff;
  padding: 10px 35px;
  display: inline-block;
  font-weight: 600;
  background: #ffffff;
  color: #252888;
  transition: all ease-in-out 0.3s;
  font-size: 1rem;
  border-radius: 50px;
}

.btn-theme:hover {
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
}

.btn-check:focus+.btn,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

/* end */